

<!-- CHARTS -->
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>

<div class="container chart-container">
    <ol class="breadcrumb bcrumb-margins">

        <li class="breadcrumb-item active"> Charts </li>
    </ol>


        <div class="row  pl-4 pr-4 mt-4 text-center">
            <div class="col-md-12 col-sm-12 mb-4 pl-4 pr-4" id="chart1">
                <script> Highcharts.chart('chart1', {{ chart1|safe }}); </script>
            </div>

<!-- BACK TO TOP -->
